@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", serif;
  background-color: #f8f8f8;
  color: black;
}

.pressStart {
  font-family: "Press Start 2P", serif;
}

.customShadow {
  box-shadow: 0 4px 10px 0 rgba(255, 227, 236, 0.5),
    0 8px 20px 0 rgba(118, 208, 254, 0.5),
    0 12px 30px 0 rgba(150, 172, 255, 0.5);
}

width: 1440px;
height: 1008px;
gap: 0px;
opacity: 0px;

.group-11 {
  width: 637px;
  height: 510px;
  top: 239px;
  left: 777.12px;
  gap: 0px;
  opacity: 0px;
}

.group-7 {
  /* Group 7 */

  position: absolute;
  width: 320.85px;
  height: 146.71px;
  left: 1093.27px;
  top: 271.24px;

  filter: drop-shadow(0px 4.96061px 91.7713px rgba(150, 172, 255, 0.16));
}

.group-8 {
  width: 503.91px;
  height: 295.97px;
  top: 340.13px;
  left: 803.68px;
  gap: 0px;
  opacity: 0px;
}

.group-9 {
  width: 351.46px;
  height: 179.24px;
  top: 569.76px;
  left: 777.12px;
  gap: 0px;
  opacity: 0px;
}

.group-13 {
  width: 470.11px;
  height: 258.72px;
  top: 239px;
  left: 787.4px;
  gap: 0px;
  opacity: 0px;
}

.group-12 {
  width: 640px;
  height: 620px;
  top: 188px;
  left: 776px;
  gap: 0px;
  opacity: 0px;
}

/* .box{
  height: 100vh;
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
} */

.main-box {
  /* margin: 0; */
  width: 100vw;
  position: relative;
  right: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: #f3f4f8;  */
}
.main-box2 {
  /* margin: 0; */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: #f3f4f8;  */
}

#demo {
  background: white;
  /* color: white; */
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 80%;
  gap: 3em;
  /* box-shadow: 0 0 0 3px inset; */
  position: relative;
  transform-style: preserve-3d;
}

.box {
  position: relative;
  transform-style: preserve-3d;
}
.box::before {
  content: "";
  position: absolute;
  inset: -1rem;
  /* background: conic-gradient(from 270deg,#96acff, #ffe3ec); */
  background: linear-gradient(
    45deg,
    #ffe3ec 45%,
    rgba(118, 208, 254, 0.2) 52.5%,
    #96acff 100%
  );
  filter: blur(50px);
  transform: translate3d(0px, 0px, -1px);
  border-radius: inherit;
  pointer-events: none;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
